DATABASE_URL="postgresql://neondb_owner:npg_vJz3QxOtZc4I@ep-floral-band-ayhgx4fg.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="bu-yerga-openssl-natijasi"
CARD_ENCRYPTION_KEY="bu-yerga-boshqa-openssl-natijasi"